.form__input input,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.171);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__input {
  margin-bottom: 15px;
}

.form__input label {
  color: #fff;
  margin-bottom: 10px;
}

.form__input .upload__input {
  padding: 40px 25px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
  }
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loading-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex; /* Added this */
  flex-direction: column; /* Added this */
  justify-content: center;
  align-items: center;
}

.loading-content p {
  color: #000; /* Black color */
  margin-top: 10px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
